@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Festive&family=Josefin+Sans:wght@100;400&family=Montserrat:wght@100&family=Open+Sans&family=Oswald:wght@400;700&family=Redressed&family=Roboto+Mono:wght@300;400&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Festive&family=Fredoka:wght@300;400;600&family=Josefin+Sans:wght@100;400&family=Montserrat:wght@100&family=Open+Sans&family=Oswald:wght@400;700&family=Redressed&family=Roboto+Mono:wght@300;400&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
    color: #94A2B3;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;   
    color: #272D4E;
}
h1{
    font-size: 85px;
    line-height: 95px;
}
h2{
    font-size: 55px;
    line-height: 70px;
}
h3{
    font-size: 36px;
    line-height: 70px;
}
.container{
    width: 1472px;
    margin: 0 auto;
}
.container-lg{
    width: 1920px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    padding: 0 16px;
}
/* text */
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

/* text */
.row{
    display: flex;
    flex-wrap: wrap;
}
.row>[class*="col-"]{
    padding: 12px;
}
.g-0>[class*="col-"]{
    padding: 0px !important;
}
.p-0{
    padding: 0 !important;
}
/* button */
.simple-link{
    color: #299EF3;
    text-decoration: none;
    font-weight: 700;
}
.btn{
    padding: 12px 32px;
    text-decoration: none;
    border-radius: 60px;
}
.btn-small{
    padding: 6px 16px;
    text-decoration: none;
    border-radius: 20px;
}
.btn-primary{
    background: #304f72cb;
    color: white;
}
.btn-secondary{
    background: #17c2b4;
    color: white;
}
.btn-outline{
    border: 1px solid white;
    color: white;
}
/* flex */
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
/* align */
.align-items-start{
    align-items: flex-start;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.align-content-start{
    align-content: flex-start;
}
.align-content-center{
    align-content: center;
}
.align-content-end{
    align-content: flex-end;
}
.align-content-around{
    align-content: space-around;
}
.align-content-between{
    align-content: space-between;
}
.align-s-start{
    align-self: flex-start;
}
.align-s-center{
    align-self: center;
}
.align-s-end{
    align-self: flex-end;
}
/* flex */
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}